page-nomesreaisfemininos {
    #botao {
        text-align: center;
    }

    .titleClass {
        text-align: center;
    }

    .titleHeaderClass {
        font-size: 120%;
        color: black;
    }

    .nameGenerateClass {
        color: black;
    }

    .cardClass {
        border: 1px solid black;
        border-radius: 3%;
        background-color: transparent;
    }

    .BackgroundClass {
        //   background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.wired.com%2Fphotos%2F5a593a7ff11e325008172bc2%2F16%3A9%2Fw_2400%2Ch_1350%2Cc_limit%2Fpulsar-831502910.jpg&imgrefurl=https%3A%2F%2Fwww.wired.com%2Fstory%2Fnasa-just-proved-it-can-navigate-space-using-pulsars-where-to-now%2F&tbnid=6cpjIuEge5oRUM&vet=12ahUKEwj1puq-sfjsAhVvM7kGHf1UDNQQMygAegUIARCnAQ..i&docid=rlmpmRKckqOG_M&w=2400&h=1350&q=space&ved=2ahUKEwj1puq-sfjsAhVvM7kGHf1UDNQQMygAegUIARCnAQ"); /* The image used */
        //background-image: url("../../assets/imgs/BackgroundMan.jpg");
        //   opacity: 0.5;
        //background: linear-gradient(to bottom, #f7f8f8, #acbb78);
        background-color: #b8c6db;
        background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    }
}
